API_KEY=your_api_key_here

# Database Configuration

# Priority: Hosted DB
DB_HOST=your_db_ip_here
DB_PORT=your_db_port_here
DB_USER=your_db_user_here
DB_PASS=your_db_password_here
DB_NAME=your_db_name_here

# Alternative: SQLite DB
SQLITE_DB_PATH=your_sqlite_db_path_here

# LLM Configuration
LLM_MODEL=your_llm_model_here
LLM_TEMPERATURE=your_llm_temperature_here
LLM_MAX_TOKENS=your_llm_max_tokens_here

# Telegram Webhook Notifications
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here


# Webhook Server (used when running webhook/main.py standalone)
WEBHOOK_SECRET=your_secret_key_here
MONITOR_TARGETS=your_monitor_target_here
HOST=your_webhook_host_ip_here
PORT=your_webhook_host_port_here